@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
:root {
  --red-lipstick: #d61c4e;
  --blue-dark: #293462;
  --orange-dark: #feb139;
  --yellow-light: #fff80a;
}

.rubik-dirt-font {
  font-family: "Rubik Dirt", cursive;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

li {
  list-style: none;
}

.text-black {
  color: black !important;
}

.text-white {
  color: white !important;
}

.test {
  background-color: lightgrey;
}

td{
  font-weight: normal !important;
  border-width: 1px;
  border-style: dashed hidden dashed hidden ;
  padding: 8px;
}

th {
  border-width: 1px;
  border-style: hidden hidden dashed hidden ;
  padding: 8px;
}
